<h1>Add a New Happy Hour</h1>
<div class="row">
	<div class="col-md-6">
		<p>Search for local bars by entering their zip code. Then, update the entry with information about its happy hour. If you don't find your bar, you can create an entry from scratch.
		<%= render 'form' %>
	</div>
</div>
