#hipster {
  padding-top: 100px;
  padding-right: 180px;
  float: right !important;
}

.tab {
  padding-left: 30px;
}

#map-canvas {
  position: absolute;
  height: 150%;
  width: 100%;
  margin-bottom: 20px;
}