#hipster {
  padding-top: 100px;
  padding-right: 180px;
  float: right !important;
}

.tab {
  padding-left: 30px;
}

#map-canvas {
  position: absolute;
  height: 700px;
  width: 90%;
  margin-bottom: 20px;
}

select#date_hour,
select#date_minute {
  border:0px;
  outline:0px;
  background-color: white;
}

input#zip {
  border:0px;
  outline:0px
}

.location-title{
  margin-bottom: 0px;
}

.panel-transparent {
    background: rgba(255,255,255,0.80);
    width: 98.5%;
    max-height: 700px;
    overflow-y: scroll
}